<!doctype html>
<html>
<head>
	<title>Node-JSForce</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js" ></script>
	<link rel="stylesheet" type="text/css" href="css/structure.css">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
</head>
<body>

<div id="content">

	<div class="topContent">
          <fieldset class="">
		    <br>
            <!--<h2>Add MetaData</h2>-->
          </fieldset>
        </div>
        
</div>


<!--<div class="notify"><span class="symbol icon-info"></span> A kind of a notice box !</div> -->
<div class="notify notify-red"><span class="symbol icon-error"></span></div> 
<div class="notify notify-green"><span class="symbol icon-tick"></span> </div> 
<!--<div class="notify notify-yellow"><span class="symbol icon-excl"></span> A warning message</div>-->
<form action="javascript:void(0)" method="post" class="box metadata" id="metaForm">
	<fieldset class="boxBody">
	<!--<label for="fullName">FullName</label>-->
	  <input type="text" tabindex="1" placeholder="Enter fullName" name="fullName" id="fullName">
    <!--<label for="label">Label</label>-->
	  <input type="text" tabindex="1" placeholder="Enter label" name="label" id="label">
  	<!--<label for="description">Description</label>-->
	  <input type="text" tabindex="1" placeholder="Enter description" name="description" id="description">
 	<!--<label for="url">URL</label>-->
	  <input type="text" tabindex="2" placeholder="Enter URL" name="url" id="url">
	</fieldset>
	<footer>
      <button type="submit" id="bt_pagamento" class="bl_button" title="Add metadata"><span>Add</span></button>
      <button type="button" id="bt_show" class="bl_button" title="Show meta on dashboard"><span>Show</span></button>
	  <!--<input type="button" class="btnLogin" value="Add" tabindex="1" onclick="addMetaData()">-->
	</footer>

</form>
<script>
$(document).ready(function() {

    jQuery.validator.addMethod("noSpace", function(value, element) { 
        return value.indexOf(" ") < 0 && value != ""; 
    }, "Space are not allowed");

    $("#metaForm").validate({
        errorLabelContainer: $("#error"),
        rules: {
            fullName: { required: true, noSpace: true },
            label: { required: true },
            description: { required: true },
            url: { required: true, url:true }
        },
        messages: {
            fullName: { required: 'Please enter FullName' },
            label: { required: 'Please enter label' },
            description: { required: 'Please enter description' },
            url: { required: 'Please enter url' }
        }
    });


    $("#bt_pagamento").click(function () {
        var valid = $("#metaForm").valid();
        if(!valid) {
            return false;
        }
        $(this).addClass('button_loading');
        $('.notify-red').hide();
        $('.notify-green').hide();
        var form = new Object();
        form["fullName"] = $("#fullName").val();
        form["label"] = $("#label").val();
        form["description"] = $("#description").val();
        form["url"] = $("#url").val();
        console.log(form);
        fetch("/api/v1/metadata", { 
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }, 
            body: JSON.stringify(form)
        })
        .then(function(response) {
            console.log(response);
            return response.json()
            
        })
        .then(function(data) {
            console.log(data);
            $("#bt_pagamento").removeClass('button_loading');
            if(data.type && data.type == "error") {
                $('.notify-red span').html(data.message);
                $('.notify-red').show();
            } else {
                $('.notify-green span').html('Meta Added Successfully! Click on <b>show</b> button to show it on dashboard.');
                $('.notify-green').show();
                $('#bt_show').show();
                $("#bt_pagamento").prop('disabled', true).css("cursor", "default").fadeTo(500,0.2);
            }
        });
    });

    $("#bt_show").click(function () {
        $(this).addClass('button_loading');
        $('.notify-red').hide();
        $('.notify-green').hide();
        console.log("bt_show  clicked ");
        fetch("/api/v1/metadata/show", { 
            method: 'GET'
        })
        .then(function(response) {
            console.log(response);
            return response.json()
            
        })
        .then(function(data) {
            console.log(data);
            $('#metaForm')[0].reset(); // reset button
            $("#bt_show").removeClass('button_loading');
            $("#bt_pagamento").prop('disabled', false).css("cursor", "pointer").fadeTo(500,1);
            if(data.type && data.type == "error") {
                $('.notify-red span').html(data.message);
                $('.notify-red').show();
            } else {
                $('.notify-green span').html('Meta is successfully added on dashboard!');
                $('.notify-green').show();
                $('#bt_show').hide();
            }
        });
    })

});

</script>
</body>
</html>
